@page
@model Client.Pages.AddControllerModel

@{
    ViewData["Title"] = "AddController";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Мои контроллеры</h1>

<p>
    <a asp-page="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Тип
            </th>
            @*<th>
                Пользователь
            </th>*@
            <th>
                Конфигурация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Controller) {
        @if(item.User == User.Identity.Name)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.User)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Settings)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
