@page
@model Client.Pages.AddControllerModel

@{
    ViewData["Title"] = "AddController";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>AddController</h1>

<p>
    <a asp-page="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Controller[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller[0].Settings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Controller) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Settings)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
